spring:
  datasource:
    url: jdbc:h2:mem:happy-town;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    platform: h2
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false
mail:
  smtp:
    host: localhost
    port: 2525
    from: mairie@happytown.com

file:
  cadeauxByTrancheAge:
    path: src/main/resources/cadeaux.txt
